.github/**
.gitignore
.vscode-test/**
.vscode/**
*.vsix
CITATION.cff
eslint.config.mjs
images/icon.svg
images/logo.png
images/logo.svg
js/**
models/**
node_modules/**
scripts/**
syntaxes/*.yaml
tests/**
tsconfig.json
